{%extends 'musicbeats/basic.htm'%}
{% block title%}MusicBeats{% endblock %}

{% block body %}
{% load static %}

<!-- ################################ CARDS ##################################################### -->
<div class="container">
  <h2>Trending Songs</h2>
  <div class="row mt-3 justify-content-center">
    {% for i in song %}
    <div class="col-11 col-md-4 mb-3">
      <div class="card">
        <img src="{{i.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">Tags: {{i.tags}}</p>
          <p class="card-text">Movie: {{i.movie}}</p>
          <a href="/musicbeats/songs/{{i.song_id}}" class="btn btn-primary">Play Song</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  <h2>Your Watch Later</h2>
  <div class="row mt-3 justify-content-center">
    {% for i in watch reversed %}
    <div class="col-11 col-md-4 mb-3">
      <div class="card">
        <img src="{{i.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">Tags: {{i.tags}}</p>
          <p class="card-text">Movie: {{i.movie}}</p>
          <a href="/musicbeats/songs/{{i.song_id}}" class="btn btn-primary">Play Song</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>



  <hr>


  <hr>
</div>


{% endblock %}